/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}