/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.swiper-container {
    img {
        width: 100%;
    }

    .swiper-pagination-bullet {
        background: #fff;
        width: 12px;
        height: 12px;
    }
}